a.active{
    font-weight: bold;
    color: white !important;
}

p {
    margin: 0px !important;
}

.navbar a{
    color: #999;
    transition: ease-in-out color .15s;
}

.navbar a:hover{
    color: white;
    text-decoration: none;
}